@use '@angular/material' as mat;
@use 'styles/mat-overrides';
@use 'styles/layout';
@use 'styles/openlayers';
@use 'styles/tables';
@use 'styles/messages';

html {
  // can specify "light dark" to use user theme preference
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
