:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

h2 {
  font-size: 1.2em;
  margin: 4px 16px;
  font-weight: normal;
}

mat-slide-toggle {
  margin-left: 16px;
  span {
    font-weight: 500;
  }
}

.row {
  align-items: baseline;
  gap: 12px;

  .color {
    width: 42px;
    height: 42px;
  }

  mat-form-field {
    flex: auto;
  }
}
header {
  padding-left: 16px;
  font-weight: 500;
}
mat-slider {
  width: calc(100% - 24px);
}
