// adjustments OpenLayers map in ReefMapComponent
// styles are defined here instead of using the ::ng-deep hack
app-reef-map {
  // move zoom buttons to bottom-right, above the attribution [i] button
  .ol-zoom {
    top: unset;
    left: unset;
    bottom: calc(0.5em + 30px);
    // match ol-attribution offset
    right: 0.5em;
  }
}
