@use '@angular/material' as mat;
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  background-color: rgba(0, 0, 0, 0.5);

  @include mat.progress-spinner-overrides((
    active-indicator-color: #b8b8b8
  ));
}
