:host {
  display: block;
  // background-color: beige;
}

$errorColor: rgb(155, 33, 33);

.row {
  padding: 0px 8px;
  min-height: 48px; // height of mat-icon-button, prevents relayout on button show
  display: flex;
  align-items: center;
  gap: 8px;

  color: whitesmoke;
  background-color: #1e1e1eba;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(4px);

  > mat-icon {
    &.error {
      color: $errorColor;
    }
    &.succeeded {
      color: rgb(7, 139, 7);
    }
  }

  > button.cancel-job {
    &:hover {
      color: $errorColor;
    }
  }
}
