@use '@angular/material' as mat;

:host {
  display: block;
  color-scheme: dark;
}

.row {
  padding: 0px 8px;
  min-height: 48px; // height of mat-icon-button, prevents relayout on button show
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--mat-sys-on-background);
  background-color: var(--mat-sys-background);

  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(4px);

  > mat-icon {
    &.failed {
      color: var(--mat-sys-error);
    }
    &.succeeded {
      color: rgb(7, 139, 7);
    }
  }

  > button.cancel-job {
    &:hover {
      color: var(--mat-sys-error);
    }
  }
}
