.loading-text {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
  font-size: 14px;
}

.error-text {
  color: #f44336;
  font-size: 14px;
}

.no-results-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  font-style: italic;
}
