@use '@angular/material' as mat;

:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
}

.map {
  height: 100%;
  width: 100%;
}

.left-toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  align-items: flex-start;
  // don't capture mouse events in this div
  pointer-events: none;

  // re-enable pointer-events in child elements
  // need ng-deep to apply to content injected by parent.
  ::ng-deep > * {
    pointer-events: auto;
  }

  &.hidden {
    visibility: hidden;

    // Material sets visible on this, which causes scrollbar and text to remain
    ::ng-deep
      .mat-expansion-panel.mat-expanded
      > .mat-expansion-panel-content-wrapper
      > .mat-expansion-panel-content {
      visibility: hidden;
    }
  }

  .panel-row {
    $backgroundColor: rgba(240, 248, 255, 0.85);

    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .back-button {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      background-color: $backgroundColor;
      border-radius: 20px;

      .back-button-text {
        font-size: medium;
        margin-right: 12px;
        font-weight: 550;
      }
    }

    .search-box {
      $borderRadius: 20px;

      // https://material.angular.dev/components/form-field/styling
      @include mat.form-field-overrides(
        (
          container-vertical-padding: 8px,
          container-height: 40px,
          outlined-container-shape: $borderRadius,
          // TODO choose outline colors
           //outlined-outline-color: darkgrey,
        )
      );

      // outlined-container-color does not exist? but filled does, so need CSS hack.
      // this is the same element/selector that filled-container-color applies to
      ::ng-deep .mat-mdc-text-field-wrapper {
        // TODO share color with 'Return to projects'
        background-color: $backgroundColor;
        // Not sure how/where outlined-container-shape applies, but need redundant border-radius here to clip
        border-radius: $borderRadius;
      }
    }
  }
}
