:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
}

.map {
  height: 100%;
  width: 100%;
}

.left-toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  align-items: flex-start;

  .back-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.75);
    border-radius: 20px;

    .back-button-text {
      font-size: medium;
      margin-right: 12px;
      font-weight: 550;
    }
  }
}
