:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: lightcyan;
}

.map {
  height: 100%;
  width: 100%;
}

.left-toolbar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  top: 12px;
  left: 12px;
  align-items: flex-start;
  // don't capture mouse events in this div
  pointer-events: none;

  // re-enable pointer-events in child elements
  // need ng-deep to apply to content injected by parent.
  ::ng-deep > * {
    pointer-events: auto;
  }

  &.hidden {
    visibility: hidden;

    // Material sets visible on this, which causes scrollbar and text to remain
    ::ng-deep
      .mat-expansion-panel.mat-expanded
      > .mat-expansion-panel-content-wrapper
      > .mat-expansion-panel-content {
      visibility: hidden;
    }
  }

  .panel-row {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .back-button {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      background-color: rgba(240, 248, 255, 0.75);
      border-radius: 20px;

      .back-button-text {
        font-size: medium;
        margin-right: 12px;
        font-weight: 550;
      }
    }

    .search-box {
      padding: 16px;
      margin-bottom: 0;
      display: block;
      background-color: rgba(240, 248, 255, 0.9);
      border-radius: 20px;
    }
  }
}
